.projects-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.projects-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
	z-index: 999;
}

.projects-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 80px;
}

.projects-subtitle {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.projects-subtitle-description {
	text-align: justify;
}

.projects-link {
	gap: 8px;
	padding: 4px 8px;
	border-radius: 6px;
	background-color: var(--quaternary-color);
	color: #333;
	text-decoration: none;
	transition: all 0.2s ease;
}

.projects-link:hover {
	background-color: var(--tertiary-color);
}

.projects-image {
	width: 40%;
	border-radius: 20px;
	transform: rotate(5deg);
}

@media (max-width: 600px) {
	.projects-container {
		padding-top: 60px;
	}

	.projects-project {
		width: calc(100% / 2);
	}
}

@media (max-width: 1133px) {
	.projects-image {
		display: none;
	}
}
